{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3>Edit Comment</h3>
            {{ include('comment/_edit-form.html.twig', {'button_label': 'Update'}) }}
            {{ include('comment/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
