{% extends 'base.html.twig' %}

{% block title %}Edit OrderedProduct{% endblock %}

{% block body %}
    {# <h1>Edit OrderedProduct</h1>

    {{ include('ordered_product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ordered_product_index') }}">back to list</a> #}

    {{ include('ordered_product/_delete_form.html.twig') }}
{% endblock %}
