{% extends 'base.html.twig' %}

{% block title %}New OrderedProduct{% endblock %}

{% block body %}
    {# <h1>Create new OrderedProduct</h1>

    {{ include('ordered_product/_form.html.twig') }}

    <a href="{{ path('ordered_product_index') }}">back to list</a> #}
{% endblock %}
