<form method="post" action="{{ path('special_offers_delete', {'specialOfferId': special_offer.specialOfferId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ special_offer.specialOfferId) }}">
    <button class="btn btn-danger my-2">Delete</button>
</form>
